body {
    background-color: rgb(51, 50, 50);
}

.container {
    background-color: whitesmoke;
    min-height: 1050px;
    margin:2% auto;
    width: 700px;
    padding: 50px;
}

/* header section */

.header {
    align-items: center;
    border-bottom: 3px solid grey;
    border-top: 3px solid grey;
    color: grey;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.4rem;
    height: 50px;
    justify-content: space-between;
}

/* main body section */
.heading {
    border-bottom: 3px solid grey;
    height: 120px;
    font-size: 7.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #363434;
}

.article {
    border-bottom: 3px solid grey;
    min-height: 120px;
    font-size: 7.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #363434;
}

.article--section1 {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article__content {
    min-height: 340px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 0.9rem;
    text-align: justify; 
}

.article__leftDiv {
    min-height: 340px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: justify;
}

.article__content p {
    font-size: 1.3rem;
    min-height: 90px;
}

.article__content label {
    font-size: 0.9rem;
    font-weight: 700;
    min-height: 40px;
}

.article--contentRight {
    background-color: #cfcfcf;
    padding: 15px;
}

.article--left {
    background-color: #cfcfcf;
    min-height: 250px;
}

.article--section2 {
    min-height: 250px;
    justify-content: space-between;
}

.article--right {
    min-height: 250px;
    padding: 26px;
}

.article__leftDiv label {
    min-height: 30px;
}

.article__leftDiv p {
    min-height: 60px;
    font-size: 1.3rem;
}

.article__content span {
    font-size: 1rem;
}

.article__leftDiv span {
    font-size: 1rem;
}

/* footer section */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    min-height: 300px;
}

.footer__content {
    color: #4a4747;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    text-align: justify;
    min-width: 210px;
    padding: 15px;
}

.footer__content p{
    font-size: 1.5rem;
    min-height: 40px;
}

.footer__content span {
    font-size: 1rem;
}

@media screen and (max-width:900px){
    .container {
        max-width: 600px;
    }
    .header {
        max-width: 600px;
    }
    .heading {
        max-width: 600px;
    }
    .heading p{
        font-size: 6rem;
    }
    .article {
        max-width: 600px;
        padding: 10px;
        display: block;
    } 
    .article__content {
        min-width: 220px;
    }
    .footer {
        display: block;
    }
    .footer__content {
        padding: 1px;
    }
}

@media screen and (max-width:700px){
    .container {
        max-width: 500px;
    }
    .header {
        max-width: 600px;
    }
    .heading {
        max-width: 600px;
    }
    .heading p{
        font-size: 4.5rem;
    }
    .article {
        max-width: 600px;
        padding: 15px;
    } 
    .article__content {
        min-width: 120px;
    }
    .footer {
        min-width: 150px;
    }
}

@media screen and (max-width:600px){
    .container {
        max-width: 400px;
    }
    .header {
        max-width: 600px;
    }
    .heading {
        max-width: 600px;
    }
    .heading p{
        font-size: 4rem;
    }
    .article {
        max-width: 600px;
    }
    .article__content {
        min-width: 80px;
    }
    .footer {
        min-width: 80px;
    }
}